{% extends "base.html" %}

{% block content %}
<div class="home-card">

    <h1>Welcome to Calmbridge</h1>

    <p class="intro-text">
        "Find Calm.Connect with Care".CalmBridge focuses on clarity, confidentiality, and accessibility, ensuring that our users
         can take the first step toward mental well-being without unnecessary complexity through bridging the gap between patients 
         and mental health professionals, we provide timely support, structured care
         and a more approachable path to mental wellness.
    </p>

   

    <hr>
    {% if user.is_authenticated %}
        <p>
            Welcome back, <strong>{{ user.username }}</strong>.
        </p>

        <a href="{% url 'appointment_list' %}" class="button">
            Go to My Appointments
        </a>
    {% else %}
        <p>Please log in or create an account to continue.</p>

        <a href="{% url 'login' %}" class="button">Login</a>
        <a href="{% url 'register' %}" class="button secondary">Register</a>
    {% endif %}

</div>
{% endblock %}

